In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
data = pd.read_csv('final.csv')
data.head()

,operator,inout_travelling,network_type,rating,calldrop_category,latitude,longitude,state_name,month,year
0,BSNL,Outdoor,2G,4,Satisfactory,-1.0,-1.0,NaN,April,2022
1,RJio,Outdoor,4G,5,Satisfactory,-1.0,-1.0,NaN,April,2022
2,RJio,Outdoor,4G,4,Satisfactory,-1.0,-1.0,NaN,April,2022
3,RJio,Outdoor,4G,3,Satisfactory,-1.0,-1.0,NaN,April,2022
4,RJio,Indoor,NaN,4,Satisfactory,-1.0,-1.0,NaN,April,2022

In [4]:
data = data[data.state_name.notna()]
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11490 entries, 5 to 20629
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   operator           11490 non-null  object
 1   inout_travelling   11490 non-null  object
 2   network_type       9082 non-null   object
 3   rating             11490 non-null  int64
 4   calldrop_category  11490 non-null  object
 5   latitude           11490 non-null  float64
 6   longitude          11490 non-null  float64
 7   state_name         11490 non-null  object
 8   month              11490 non-null  object
 9   year               11490 non-null  int64
dtypes: float64(2), int64(2), object(6)
memory usage: 987.4+ KB

In [ ]:
features, target = data.iloc[:, :]